[submodule "suq-controller"]
	path = suq-controller
	url = https://github.com/roVer-HM/suq-controller.git
        branch = diss_info_study
[submodule "rover-main"]
	path = rover-main
	url = https://github.com/roVer-HM/crownet.git
	branch = mdpi-rover-2020
