[submodule "suq-controller"]
	path = suq-controller
	url = git@gitlab.lrz.de:vadere/suq-controller.git
[submodule "rover-main"]
	path = rover-main
	url = ssh://git@sam-dev.cs.hm.edu:5022/rover/rover-main.git
